body{
    background-color:rgb(58, 5, 5);
    font-family:'Trebuchet MS';
    text-align: center
}

/* Le texte */
h1 {
    text-align: center;
    color: rgb(218, 84, 84);
    font-size: 50px
}

h3 {
    text-align:center;
    font-size:45px;
    color:rgb(183, 150, 18)
}

#présentation {
    padding:20px;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
    color:rgb(171, 147, 52)
}

#question {
    margin-right: 80px;
    font-size: 20px;
    font-size:30px;
    color: #7f0f5d;  
    
}



/* Les boutons */

#bouton_start{
    margin: 30px;
    text-transform: uppercase;
    font-weight: 5;
    font-size: 25pt;
    letter-spacing: 10px;
    color: rgb(49, 13, 63);
    border: 2px solid rgb(219, 140, 62);
      box-shadow: 7px 7px 0 rgb(227, 169, 44),
          -7px -7px 0 rgb(94, 77, 13),
          -2.5px 2.5px 0 transparent,
          2.5px -2.5px 0 transparent;
    -webkit-border-radius: 75px
  }

#boutton_rep1 {
    margin: 2%;
    width: 50%;
      cursor: pointer;
      font-size: 40px;
      font-weight: bold;
    -webkit-border-radius: 5px;
      color: #7f0f5d;
      background-color: #0e0101;
      border-color: #400438;
      border: 3px solid #400438;
      box-shadow: 
          -10px -10px 0 rgb(18, 18, 18),
          2.5px -2.5px 0 transparent
}

#boutton_rep2 {

    margin: 2%;
    width: 50%;
      cursor: pointer;
      font-size: 40px;
      font-weight: bold;
    font-family:'Trebuchet MS';
    -webkit-border-radius: 5px;
      color: #7f0f5d;
      background-color: #0e0101;
      border-color: #400438;
      border: 3px solid #400438;
      box-shadow: 
          -10px -10px 0 rgb(18, 18, 18),
          2.5px -2.5px 0 transparent

}

#boutton_rep3 {
    margin: 2%;
    width: 50%;
      cursor: pointer;
      font-size: 40px;
      font-weight: bold;
    font-family:'Trebuchet MS';
    -webkit-border-radius: 5px;
      color: #7f0f5d;
      background-color: #0e0101;
      border-color: #400438;
      border: 3px solid #400438;
      box-shadow: 
          -10px -10px 0 rgb(18, 18, 18),
          2.5px -2.5px 0 transparent
}

#boutton_rep1:hover {
    background-color: #adb05c;
    color: white;
    border-style: solid
}

#boutton_rep2:hover {
    background-color: #adb05c;
    color: white;
    border-style: solid
}

#boutton_rep3:hover {
    background-color: #adb05c;
    color: white;
    border-style: solid
}

#result {

    font-size:50px;
    width:600px;
    height:150px;
    background-color:rgb(17, 15, 14);
    color: rgb(209, 233, 233);
}

#result:hover {
    background-color: #adb05c;
    color: rgb(22, 2, 2);
    border-style: solid;
}

/* Le dropdown */
#choixk {
    background-color:#e5e5e5;
    padding:20px;
    width:400px;
    margin-left:40px;
    margin-top:50px;
    text-transform: uppercase;
    font-weight: 10;
    font-size: 25pt;
    letter-spacing: 10px;
    color: rgb(49, 13, 63);
    border-style: outset ;
    border: 2px solid rgb(219, 140, 62);
        box-shadow: 7px 7px 0 rgb(227, 169, 44),
            -7px -7px 0 rgb(94, 77, 13),
            -2.5px 2.5px 0 transparent,
            2.5px -2.5px 0 transparent;
    -webkit-border-radius: 75px;
}
    
 


